.img-flag {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.countries-name {
  font-size: 15px;
}
li {
  list-style-type: none;
}
.country-list {
  padding-left: 10px;
}
.countries {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

#search-box:hover {
  cursor: auto;
  border: 1px solid rgb(156, 182, 239);
}

/* markupCountryCard */
.title {
  font-size: 22;
}
.img-flag {
  width: 40px;
  height: 40px;
}
.subtitle {
  font-size: 18;
  font-weight: bold;
}
